# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.txt
.vscode/
Listas/
testes/
makefile
!/*/makefile
*.pdf
teste.*
script_teste_lexico/
*.zip
sintatico.tab.*
lex.yy.c
Livros/zlib.pub_engineering-a-compiler-second-edition.mobi
